@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");


//fonts
$font-DMsan: "DM Sans", sans-serif;
$font-belgrano:"Belgrano", serif;
$font-Dm: "DM Serif Display", serif;

.box {
  padding: 25px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;

  &__img {
    display: block;
    position: absolute;
    height: 400px;
    width: 300px;
    left: 40px;
    top: 130px;
    background-color: blue;
  }

  &__heading {
    font-family: $font-DMsan;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43.58px;
    position: absolute;
    width: 313px;
    height: 120px;
    left: 40px;
    top: 600px;
  }

  &__detail {
    font-family: $font-belgrano;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    width: 310px;
    height: 70px;
    top: 710px;
    left: 40px;
    color: #c4cacf;
  }

  .section {
    position: absolute;
    top: 790px;
    left: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__rating {
      background: #079741;
      border-radius: 9px;
      padding: 1px;
      margin-top: 0;

      .star {
        height: 12px;
      }
    }

    h3 {
      padding: 5px;
      font-size: 14px;
    }

    p {
      font-size: 12px;
      text-align: center;
      font-family: $font-DMsan;
      color: #424648;
      padding: 4px;
    }
  }

  &__money {
    position: absolute;
    display: flex;
    top: 840px;
    font-family: 'Montserrat', sans-serif;

    h1 {
      padding: 6px;
      
    }

    &__h1 {
      color: #3c464f;
      text-decoration-line: line-through;
      font-weight: 500;
    }
  }

  &__pack1 {
    position: absolute;
    height: 124px;
    width: 270px;
    background: #21272c;
    border-radius: 8px;
    top: 900px;
    left: 40px;

    h3 {
      padding-top: 10px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 200;
      font-family: $font-DMsan;
    }

    &__popular {
      margin: 20px;
      padding: 4px;
      background: #067bd8;
      height: 5px;
      border-radius: 10px;
      font-size: 7px;
    }

    &__saving {
      margin-left: 20px;
      font-size: 12px;
      display: flex;
      justify-content: space-between;

      span {
        margin-top: 3px;
        color: #465d68;
      }

      h4 {
        font-family: $font-Dm;
        font-size: 20px;
        font-weight: 200;
        margin-right: 15px;
      }
    }

    .line2 {
      display: flex;
      margin-left: 20px;

      span {
        color: #24db6d;
        font-size: 12px;
        font-family: $font-DMsan;
      }

      p {
        color: #db9d24;
        font-size: 12px;
        font-family: $font-DMsan;
        margin-left: 5px;
      }

      h4 {
        font-family: $font-Dm;
        font-size: 20px;
        font-weight: 200;
        margin-left: 60px;
        color: #4c6070;
        text-decoration-line: line-through;
      }
    }
  }

  &__pack2 {
    position: absolute;
    height: 100px;
    top: 1045px;
    left: 40px;
    background-color: #374b5b;
    width: 270px;
    border-radius: 10px;
    border: 0.2rem solid #fff;

    h3 {
      margin-left: 20px;
      margin-top: 8px;
      font-size: 12px;
      font-family: $font-DMsan;
      font-weight: 300;
    }

    .line1 {
      display: flex;
      justify-content: space-between;

      span {
        margin-left: 20px;
        font-size: 12px;
        color: #28333d;
        font-family: $font-Dm;
      }

      h3 {
        font-family: $font-Dm;
        font-size: 19px;
        margin-right: 15px;
        font-weight: 200;
        margin-top: 0;
      }
    }

    .line2 {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;

      p {
        color: #24db6d;
        font-size: 12px;
      }

      h3 {
        font-family: $font-Dm;
        color: #28333d;
        font-size: 19px;
        text-decoration-line: line-through;
        margin-right: 15px;
        font-weight: 200;
        margin-top: 0;
      }
    }
  }
}

&__button {
  display: block;
  background-color: #13324a;
  position: absolute;
  height: 50px;
  width: 320px;
  top: 1175px;
  display: flex;
  align-items: center;
  left: 20px;
  margin-bottom: 100px;

  span {
    position: absolute;
    left: 110px;
    font-size: 13px;
  }
}
